benchmarks/jacobi1d.csv
jbi2d
jbi1d.s
perf.data*
jacobi1d
jacobi1d.csv
jbi1d
test
data/*.csv
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.synctex.gz
report/*.toc
.gitignore~
data/prepare_graph_data.pyc
data/jacobi1D_viz.csv
report/results.pdf
report/results.tex
report/tikz_results_starnk_comparison.tex
